---
layout: default
---
{%- assign _sections2 = site.sections | sort: 'order' -%}
{%- include header.html scrolly_nav=_sections2 -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Sections -->
	{%- for _section in _sections2 -%}
		{%- include section.html title=_section2.title photo=_section2.cover-photo photo-alt=_section2.cover-photo-alt auto-header=_section2.auto-header content=_section2.content -%}
	{%- endfor -%}
</div>
